[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
trio-typing = "*"
mypy = "*"

[packages]
peewee = "*"
pynacl = "*"
youtube-dl = "*"
trio = "*"
loguru = "*"
"discord.py" = {extras = ["voice"], version = "*"}
trio-asyncio = "*"

[requires]
python_version = "3.8"
