[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
trio-typing = "*"
mypy = "*"

[packages]
peewee = "*"
pynacl = "*"
youtube-dl = "*"
trio = "*"
loguru = "*"
"discord.py" = {extras = ["voice"], version = "*"}
trio-asyncio = "*"
trio-util = "*"
psycopg2 = "*"
tractor = {editable = true, git = "git://github.com/goodboy/tractor.git"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
